
fastapi
uvicorn
sqlalchemy
pydantic
passlib
pyjwt
ollama
faiss-cpu
python-dotenv
uvicorn
argon2-cffi
PyPDF2
python-docx
pandas
python-multipart
textual
rich
requests
pyinstaller
rank_bm25
python-telegram-bot
numpy
user-agents
nest_asyncio 

openpyxl 
tiktoken  
pyarrow
sentence_transformers
slugify
feedparser
Pygments
pyinstaller
fastapi
uvicorn
pystray
customtkinter
requests
markdown
pillow
ollama
chromadb
PySide6
duckduckgo-search
ddgs
beautifulsoup4
lxml
datasets
pandas
tqdm

opencv-python
pydantic
pydantic-settings
aiohttp

cachetools

faiss-cpu

trafilatura
duckduckgo-search 
beautifulsoup4 
requests
ddgs
